DEVELOP=False

DATABASE_HOST=postgres.local
DATABASE_NAME=database_name_here
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

EMAIL_HOST=xxx
EMAIL_PORT=xxx
EMAIL_HOST_USER=xxx
EMAIL_HOST_PASSWORD=xxx
EMAIL_USE_SSL=True

SECRET_KEY=xxx

MAIN_DOMAIN_URL=xxx
